data/raw/
data/processed/
mlruns/
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.egg
.env
venv/
.venv/
.vscode/
.idea/
*.swp
*.swo
_mlflow_tmp/
.DS_Store
Thumbs.db
monitoring/reports/
*.ipynb
.pytest_cache/
